[submodule "Engine/vendors/glm"]
	path = Engine/vendors/glm
	url = https://github.com/g-truc/glm.git
[submodule "Engine/vendors/SDL"]
	path = Engine/vendors/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Engine/vendors/SDL_image"]
	path = Engine/vendors/SDL_image
	url = https://github.com/libsdl-org/SDL_image
[submodule "Engine/vendors/imgui"]
	path = Engine/vendors/imgui
	url = https://github.com/ocornut/imgui
